apiVersion: fn.kpt.dev/v1alpha1
kind: StarlarkRun
metadata: # kpt-merge: /generate-values
  name: generate-values
  annotations:
    config.kubernetes.io/local-config: "true"
    internal.kpt.dev/upstream-identifier: fn.kpt.dev|StarlarkRun|default|generate-values
source: |-
  load("krmfn.star", "krmfn")
  def set_values(resources):
    # Default values
    clusterName = "example-cluster-name"
    provider = "gitea"
    url = "http://172.18.0.200:3000"
    org = "nephio"
    
    # Read from ConfigMap (package-context.yaml)
    for r in resources:
      if krmfn.match_gvk(r, "v1", "ConfigMap") and krmfn.match_name(r, "kptfile.kpt.dev"):
        data = r.get("data", {})
        # If your PV controller is configured to copy its own metadata:
        pv_labels = r["metadata"].get("labels", {})
        pv_annotations = r["metadata"].get("annotations", {})
        print("DEBUG: Active Config -> Cluster: {}, Provider: {}".format(pv_annotations, pv_labels))
        clusterName = pv_annotations.get(""nephio.org/cluster-name",clusterName)
        provider = pv_annotations.get("nephio.org/git-provider",provider)
        org = pv_annotations.get("nephio.org/git-org",org)
        
    
    # Read from WorkloadCluster for cluster name
    for r in resources:
      if krmfn.match_gvk(r, "infra.nephio.org/v1alpha1", "WorkloadCluster") and "annotations" in r["metadata"] and "kpt.dev/injected-resource" in r["metadata"]["annotations"]:
        clusterName = r["spec"]["clusterName"]
    
    # Build git repository URL based on provider
    gitRepoUrl = ""
    if provider == "gitea":
      gitRepoUrl = url + "/" + org + "/" + clusterName + ".git"
    elif provider == "github":
      gitRepoUrl = "https://github.com/" + org + "/" + clusterName + ".git"
    elif provider == "gitlab":
      gitRepoUrl = "https://gitlab.com/" + org + "/" + clusterName + ".git"
    
    for r in resources:
      if krmfn.match_gvk(r, "infra.nephio.org/v1alpha1", "Repository"):
        r["metadata"]["name"] = clusterName
        r["spec"]["description"] = clusterName + " repository"
        r["spec"]["provider"] = provider
        if provider != "gitea":
          r["spec"]["org"] = org
        # Set git provider annotation for reference
        if "annotations" not in r["metadata"]:
          r["metadata"]["annotations"] = {}
        r["metadata"]["annotations"]["nephio.org/git-provider"] = provider
      
      if krmfn.match_gvk(r, "config.porch.kpt.dev/v1alpha1", "Repository"):
        r["metadata"]["name"] = clusterName
        r["spec"]["git"]["repo"] = gitRepoUrl
        r["spec"]["git"]["secretRef"]["name"] = clusterName + "-access-token-porch"
        if clusterName == "mgmt-staging":
           r["spec"]["deployment"] = False
           if "annotations" not in r["metadata"]:
             r["metadata"]["annotations"] = {}
           r["metadata"]["annotations"]["nephio.org/staging"] = "true"
      
      if krmfn.match_gvk(r, "infra.nephio.org/v1alpha1", "Token"):
        r["metadata"]["name"] = clusterName + "-access-token-porch"
        # Set git provider and org annotations for Token
        if "annotations" not in r["metadata"]:
          r["metadata"]["annotations"] = {}
        r["metadata"]["annotations"]["nephio.org/git-provider"] = provider
        r["metadata"]["annotations"]["nephio.org/git-org"] = org
        if "annotations" in r["metadata"] and "nephio.org/gitops" in r["metadata"]["annotations"] and "configsync" in r["metadata"]["annotations"]["nephio.org/gitops"]:
          r["metadata"]["name"] = clusterName + "-access-token-configsync"
          if clusterName == "mgmt" or clusterName == "mgmt-staging":
            r["metadata"]["namespace"] = "config-management-system"
  set_values(ctx.resource_list["items"])
